In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [2]:
pd.set_option('display.max_rows', 100)

In [3]:
df_train = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")

In [4]:
df_test = pd.read_csv("/kaggle/input/spaceship-titanic/test.csv")

In [5]:
df_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [6]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [7]:
df_sample_submission = pd.read_csv("/kaggle/input/spaceship-titanic/sample_submission.csv")

In [8]:
df_sample_submission

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [9]:
df_train.shape, df_test.shape

((8693, 14), (4277, 13))

In [10]:
df = df_train.append(df_test)

In [11]:
df.sample(100)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
2861,6294_01,Earth,True,G/1021/S,TRAPPIST-1e,22.0,False,0.0,0.0,0.0,0.0,0.0,Faithy Brenney,NaN
2150,4671_03,NaN,False,F/949/P,TRAPPIST-1e,68.0,False,0.0,0.0,0.0,0.0,0.0,Wheals Lake,NaN
373,0775_04,Europa,False,C/31/S,TRAPPIST-1e,23.0,False,0.0,1857.0,1.0,386.0,15940.0,Grum Trameterty,NaN
7038,7498_01,Mars,False,F/1550/P,TRAPPIST-1e,68.0,True,523.0,0.0,859.0,201.0,782.0,Otlios Cola,False
1484,1576_01,Mars,False,E/97/P,TRAPPIST-1e,28.0,False,641.0,0.0,372.0,0.0,16.0,Oahars Hapie,False
1676,1776_01,Earth,False,G/278/S,TRAPPIST-1e,21.0,False,0.0,0.0,809.0,0.0,0.0,Lynnon Wolffy,False
2024,2162_02,Mars,False,F/425/S,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Hoces Graie,True
5655,6015_01,Europa,True,B/231/S,TRAPPIST-1e,19.0,False,0.0,0.0,0.0,0.0,0.0,Sulatik Demansty,True
2008,2143_01,Earth,False,F/419/S,TRAPPIST-1e,21.0,False,0.0,1433.0,0.0,1234.0,0.0,Justie Miltongson,False
2886,6342_02,Mars,False,E/402/P,TRAPPIST-1e,18.0,False,1839.0,0.0,225.0,11.0,0.0,Rowls Cart,NaN
3599,7844_01,Europa,False,B/256/P,TRAPPIST-1e,33.0,True,694.0,2031.0,6.0,10.0,1606.0,Zibaham Missefle,NaN
4084,8888_01,Earth,False,F/1720/S,TRAPPIST-1e,18.0,False,0.0,341.0,18.0,756.0,175.0,Eilan Waterson,NaN
8564,9145_01,Earth,True,G/1489/P,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Raulia Curton,False
2836,6261_02,Mars,True,E/400/P,TRAPPIST-1e,16.0,False,0.0,0.0,0.0,0.0,0.0,Toat Date,NaN
931,0993_01,Earth,False,F/184/S,55 Cancri e,24.0,False,252.0,0.0,0.0,449.0,0.0,Juanie Miltongson,False
4550,4841_02,Europa,False,B/192/S,TRAPPIST-1e,21.0,False,12.0,1855.0,0.0,1381.0,358.0,Plas Prefule,False
8679,9267_02,Europa,True,E/607/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Sabi Opshaft,True
1272,2711_01,Mars,False,F/560/P,TRAPPIST-1e,23.0,False,855.0,1296.0,3765.0,0.0,0.0,Ducks Prin,NaN
4887,5208_02,Europa,False,C/163/P,55 Cancri e,41.0,False,717.0,641.0,2.0,1559.0,4828.0,Alcorix Unressind,False
680,1373_01,Earth,False,E/103/S,TRAPPIST-1e,25.0,False,2.0,145.0,830.0,14.0,1.0,Nelsie Woody,NaN
7430,7945_01,Mars,True,F/1522/S,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,0.0,Mitch Vloaf,True
7463,7984_04,Mars,False,F/1653/P,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,Guakes Birt,True
7286,7790_01,NaN,True,F/1490/S,TRAPPIST-1e,29.0,False,0.0,0.0,0.0,0.0,0.0,Pold Casty,False
7737,8259_01,Earth,False,G/1342/P,TRAPPIST-1e,NaN,False,0.0,0.0,486.0,324.0,0.0,Byrona Potthews,False
8379,8959_01,Europa,True,C/298/P,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,Wimps Unhearfus,True
3384,7389_01,Mars,True,F/1530/P,TRAPPIST-1e,24.0,False,0.0,0.0,0.0,0.0,0.0,Crus Anake,NaN
7697,8213_01,Earth,False,G/1333/P,TRAPPIST-1e,32.0,False,0.0,2.0,1.0,0.0,881.0,Feryla Gouldensen,False
114,0119_02,Europa,True,A/0/P,TRAPPIST-1e,13.0,False,0.0,0.0,0.0,0.0,0.0,Kleeiak Coning,True
3486,3748_01,Mars,True,F/774/P,TRAPPIST-1e,NaN,False,0.0,0.0,0.0,0.0,0.0,Pot Gin,True
5605,5967_02,Earth,False,G/965/P,TRAPPIST-1e,38.0,False,0.0,784.0,0.0,0.0,0.0,Ebonya Duranks,True
2051,4423_01,Europa,False,C/161/S,55 Cancri e,73.0,False,69.0,774.0,0.0,4618.0,40.0,Atino Nemingping,NaN
2636,2820_01,Earth,True,G/457/P,TRAPPIST-1e,44.0,False,0.0,0.0,0.0,0.0,0.0,Valex Lopelases,True
2477,2658_01,Earth,False,F/549/P,TRAPPIST-1e,21.0,NaN,366.0,1136.0,795.0,132.0,0.0,Craine Gentledges,False
5675,6028_02,Europa,False,A/57/P,TRAPPIST-1e,32.0,True,0.0,792.0,0.0,1.0,1335.0,Cherkab Preeldy,False
7486,8010_01,Europa,False,C/300/S,TRAPPIST-1e,59.0,False,0.0,2593.0,0.0,98.0,0.0,NaN,True
206,0450_01,Earth,False,F/82/S,PSO J318.5-22,32.0,False,1.0,0.0,858.0,0.0,689.0,Bobara Mallerez,NaN
2828,3053_01,Europa,False,NaN,55 Cancri e,52.0,False,0.0,2.0,0.0,10976.0,810.0,Ainor Fuelisent,False
2335,5079_01,Mars,True,F/968/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Froops Dal,NaN
4725,5040_02,Europa,False,C/195/S,55 Cancri e,39.0,False,10.0,199.0,0.0,6216.0,101.0,Alsha Dynigic,False
317,0694_01,Earth,True,G/105/S,PSO J318.5-22,41.0,False,0.0,0.0,0.0,0.0,0.0,Stelly Hurchrisong,NaN
3440,3707_02,Earth,False,G/604/S,NaN,22.0,False,0.0,0.0,889.0,0.0,0.0,Willey Delangleton,True
3977,4246_01,Earth,False,G/693/P,TRAPPIST-1e,30.0,False,0.0,10.0,0.0,3840.0,329.0,Isaacy Hamberterry,False
428,0461_02,Earth,False,F/85/S,TRAPPIST-1e,22.0,False,0.0,70.0,182.0,612.0,20.0,Warry Yorkland,True
3131,6856_01,Mars,False,F/1309/S,55 Cancri e,26.0,False,2676.0,1.0,143.0,0.0,0.0,Llix Nate,NaN
6292,6662_03,Earth,True,G/1087/S,55 Cancri e,0.0,False,0.0,0.0,0.0,0.0,0.0,Tonnie Blange,True
6202,6558_01,Earth,False,F/1363/P,TRAPPIST-1e,31.0,False,3.0,0.0,0.0,747.0,43.0,Philda Cleminglas,True
3585,7807_01,NaN,True,G/1255/P,PSO J318.5-22,21.0,False,0.0,0.0,0.0,0.0,0.0,Veremy Blancoy,NaN
5945,6305_02,Europa,False,B/248/S,TRAPPIST-1e,46.0,False,3616.0,564.0,0.0,15.0,3303.0,Ashird Parbleake,False
5438,5810_02,NaN,False,E/366/P,TRAPPIST-1e,31.0,False,0.0,1489.0,68.0,6.0,0.0,Annez Chapmaney,True
3692,8040_01,Mars,True,E/520/P,TRAPPIST-1e,24.0,False,0.0,NaN,0.0,0.0,0.0,Wat Shcad,NaN
8108,8661_01,Earth,False,F/1675/S,TRAPPIST-1e,19.0,False,886.0,0.0,0.0,1587.0,12.0,Herina Pierry,False
1898,2028_01,Earth,False,F/391/S,PSO J318.5-22,24.0,False,662.0,0.0,0.0,0.0,9.0,Louisa Pooles,False
326,0717_01,Europa,True,B/31/P,TRAPPIST-1e,24.0,False,0.0,0.0,0.0,0.0,0.0,Jihoton Panspic,NaN
3207,3450_02,Europa,False,B/132/S,TRAPPIST-1e,21.0,False,0.0,2834.0,0.0,414.0,558.0,Weion Knocke,True
2695,2890_01,Europa,False,B/89/P,TRAPPIST-1e,44.0,False,0.0,351.0,0.0,3.0,3447.0,Jabbab Cattyried,False
1153,1218_01,Earth,False,F/243/P,TRAPPIST-1e,14.0,False,0.0,0.0,0.0,2143.0,7.0,Karah Gilleranks,False
4930,5254_04,Europa,False,B/202/S,55 Cancri e,8.0,False,0.0,0.0,0.0,0.0,0.0,Sceleon Pressive,True
5352,5718_01,Earth,True,G/927/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Racyle Kaney,True
7536,8057_01,Europa,True,B/267/P,TRAPPIST-1e,65.0,False,0.0,0.0,0.0,0.0,0.0,Wimplas Sersocatic,True
6337,6707_01,Earth,True,G/1091/S,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Scotte Thomason,True
3467,7556_04,Europa,True,C/280/S,55 Cancri e,47.0,False,0.0,0.0,0.0,0.0,0.0,Shabih Spedlinale,NaN
5827,6169_01,Earth,False,G/1000/S,TRAPPIST-1e,18.0,NaN,382.0,10.0,291.0,90.0,9.0,Carley Harley,True
8472,9049_01,Europa,True,C/336/S,TRAPPIST-1e,41.0,False,0.0,0.0,0.0,0.0,0.0,Luxion Grentual,True
1655,1757_01,Earth,False,F/334/S,TRAPPIST-1e,67.0,False,26.0,809.0,0.0,39.0,26.0,Juline Bradamss,False
5099,5447_02,Mars,NaN,F/1126/P,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Poselk Coune,True
2033,4381_02,Earth,False,F/825/S,TRAPPIST-1e,26.0,False,0.0,0.0,47.0,531.0,871.0,Tonyan Kellynn,NaN
1711,3659_02,Earth,True,G/597/P,TRAPPIST-1e,3.0,False,0.0,0.0,0.0,0.0,0.0,Anthia Bucklandez,NaN
4025,8763_03,Earth,False,G/1420/P,PSO J318.5-22,0.0,False,0.0,0.0,0.0,0.0,0.0,Eilan Sweett,NaN
5911,6270_01,Earth,False,F/1297/P,TRAPPIST-1e,34.0,False,124.0,0.0,0.0,679.0,0.0,Troya Puckenton,False
2183,4727_01,Earth,False,G/772/S,TRAPPIST-1e,24.0,False,617.0,9.0,83.0,0.0,0.0,Andace Solinez,NaN
2619,2802_01,Earth,False,F/581/P,TRAPPIST-1e,23.0,False,18.0,2595.0,0.0,0.0,122.0,Evane Chavezalez,True
2138,2295_02,Earth,False,F/466/P,TRAPPIST-1e,37.0,False,0.0,8.0,70.0,360.0,258.0,Jillie Emenez,False
1234,2614_01,Mars,False,F/503/S,TRAPPIST-1e,25.0,False,938.0,0.0,206.0,0.0,289.0,Cruses Boure,NaN
2155,4681_01,Europa,False,B/155/P,55 Cancri e,29.0,False,55.0,2699.0,0.0,8096.0,198.0,Neutrak Spadal,NaN
5056,5408_01,Mars,False,D/174/P,TRAPPIST-1e,32.0,False,1781.0,0.0,654.0,580.0,0.0,Moss Gene,False
1548,3344_02,Europa,True,B/126/S,TRAPPIST-1e,15.0,False,0.0,0.0,NaN,0.0,0.0,Cellah Obeaded,NaN
6390,6751_02,Mars,True,E/446/S,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Fal Berle,False
2756,6081_03,Mars,True,F/1256/P,TRAPPIST-1e,24.0,False,0.0,0.0,0.0,0.0,0.0,Crowls Knie,NaN
493,1064_01,Earth,False,E/59/P,TRAPPIST-1e,16.0,False,0.0,0.0,978.0,9.0,0.0,Racey Marson,NaN
1668,3589_07,Earth,True,G/587/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Verek Petton,NaN
3481,3745_01,Earth,False,G/608/P,TRAPPIST-1e,19.0,False,NaN,2.0,14.0,755.0,0.0,Ellena Mckinsond,False
2361,5131_01,Europa,False,B/172/P,55 Cancri e,26.0,False,NaN,5824.0,0.0,327.0,1508.0,Alchib Bendembly,NaN
1519,1613_01,Earth,False,NaN,55 Cancri e,16.0,False,825.0,9.0,0.0,0.0,42.0,Judya Josey,False
7498,8021_01,Earth,True,G/1298/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Oraine Blandez,False
496,1069_01,Europa,True,D/40/P,55 Cancri e,30.0,False,0.0,0.0,0.0,0.0,0.0,Okula Opshosent,NaN
4311,4594_02,Europa,False,C/144/P,TRAPPIST-1e,31.0,False,0.0,6670.0,217.0,625.0,20336.0,Tabiton Folhal,False
4070,8866_01,Earth,False,F/1827/P,PSO J318.5-22,54.0,False,1.0,2115.0,0.0,0.0,35.0,Dawne Morrodgers,NaN
2345,2526_01,Europa,True,B/74/P,55 Cancri e,38.0,False,0.0,0.0,0.0,0.0,0.0,Chelik Fatted,True
3750,4009_01,Earth,False,NaN,55 Cancri e,51.0,False,8.0,0.0,206.0,1247.0,14.0,Luisy Belley,True
2511,2697_01,Mars,False,D/91/S,TRAPPIST-1e,27.0,NaN,1893.0,487.0,4.0,0.0,0.0,Pank Pimne,False
4600,4900_01,Earth,False,F/994/P,PSO J318.5-22,35.0,False,0.0,0.0,2.0,672.0,10.0,Idace Gaington,False
3598,3868_02,Earth,False,G/630/S,TRAPPIST-1e,9.0,False,0.0,0.0,0.0,0.0,0.0,Thell Braymon,True
3468,7557_01,Mars,False,F/1567/P,TRAPPIST-1e,29.0,NaN,1118.0,0.0,606.0,50.0,0.0,Root Gine,NaN
3882,4167_01,Earth,False,NaN,PSO J318.5-22,NaN,NaN,0.0,440.0,0.0,0.0,334.0,Ninaha Deckerson,False
2118,4584_01,Earth,False,G/749/S,TRAPPIST-1e,35.0,False,518.0,1.0,344.0,1.0,23.0,Charly Sawyerson,NaN
2037,2180_01,Earth,False,F/428/S,55 Cancri e,24.0,False,1.0,0.0,0.0,318.0,247.0,Coreen Masquez,False
2094,4536_01,Europa,False,A/41/P,55 Cancri e,33.0,False,5.0,2799.0,0.0,3439.0,6.0,Minopus Cracul,NaN
3298,3543_02,Europa,True,C/116/P,55 Cancri e,17.0,False,0.0,0.0,0.0,0.0,0.0,Furudra Holatirint,True
2797,6193_03,Mars,False,F/1184/S,TRAPPIST-1e,42.0,False,1343.0,12.0,190.0,160.0,0.0,Wors Flé,NaN
1287,1366_01,Earth,True,G/206/P,55 Cancri e,40.0,False,0.0,NaN,0.0,0.0,0.0,Searla Hestes,True

## Let's look how to handle Null values.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12970 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Cabin         12671 non-null  object
 4   Destination   12696 non-null  object
 5   Age           12700 non-null  float64
 6   VIP           12674 non-null  object
 7   RoomService   12707 non-null  float64
 8   FoodCourt     12681 non-null  float64
 9   ShoppingMall  12664 non-null  float64
 10  Spa           12686 non-null  float64
 11  VRDeck        12702 non-null  float64
 12  Name          12676 non-null  object
 13  Transported   8693 non-null   object
dtypes: float64(6), object(8)
memory usage: 1.5+ MB

In [13]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [14]:
df["Age"].mean()

28.771968503937007

In [15]:
df["Age"] = df["Age"].fillna(df["Age"].mean())         # Fill null Age values as mean of Age column

In [16]:
df.isnull().sum()     # There is no null Age value

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age                0
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [17]:
df["VIP"].value_counts()

False    12401
True       273
Name: VIP, dtype: int64

In [18]:
12401/(12401 + 273)      # %98 is not VIP

0.9784598390405554

In [19]:
df["VIP"] = df["VIP"].fillna("False")

In [20]:
df["VIP"].value_counts()

False    12401
False      296
True       273
Name: VIP, dtype: int64

In [21]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,NaN,28.771969,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [22]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age                0
VIP                0
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [23]:
df["RoomService"].value_counts()

0.0       8303
1.0        185
2.0        113
3.0         89
4.0         71
          ...
263.0        1
271.0        1
922.0        1
3905.0       1
652.0        1
Name: RoomService, Length: 1578, dtype: int64

In [24]:
df["RoomService"].mean()

222.89785157787045

In [25]:
df["RoomService"] = df["RoomService"].fillna(df["RoomService"].mean())     # Fill null RoomService values as mean of RoomService column

In [26]:
df["RoomService"].mean()

222.89785157787048

In [27]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age                0
VIP                0
RoomService        0
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [28]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age                0
VIP                0
RoomService        0
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [29]:
df["Destination"].value_counts()

TRAPPIST-1e      8871
55 Cancri e      2641
PSO J318.5-22    1184
Name: Destination, dtype: int64

In [30]:
df["Destination"] = df["Destination"].fillna("TRAPPIST-1e")     # Fill null RoomService values as mean of RoomService column

In [31]:
df["Destination"].value_counts()

TRAPPIST-1e      9145
55 Cancri e      2641
PSO J318.5-22    1184
Name: Destination, dtype: int64

In [32]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,TRAPPIST-1e,28.771969,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [33]:
df.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [34]:
df["HomePlanet"].value_counts()

Earth     6865
Europa    3133
Mars      2684
Name: HomePlanet, dtype: int64

In [35]:
df["HomePlanet"] = df["HomePlanet"].fillna("Earth")     # Fill null RoomService values as mean of RoomService column

In [36]:
df["HomePlanet"].value_counts()

Earth     7153
Europa    3133
Mars      2684
Name: HomePlanet, dtype: int64

In [37]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,TRAPPIST-1e,28.771969,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [38]:
df["CryoSleep"].value_counts()

False    8079
True     4581
Name: CryoSleep, dtype: int64

In [39]:
df["CryoSleep"] = df["CryoSleep"].fillna("False")     # Fill null RoomService values as mean of RoomService column

In [40]:
df["CryoSleep"].value_counts()

False    8079
True     4581
False     310
Name: CryoSleep, dtype: int64

In [41]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,TRAPPIST-1e,28.771969,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [42]:
df.isnull().sum()

PassengerId        0
HomePlanet         0
CryoSleep          0
Cabin            299
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [43]:
df["Cabin"].value_counts()

G/734/S     8
G/160/P     8
D/176/S     7
G/1476/S    7
B/201/P     7
           ..
E/317/P     1
F/1039/P    1
F/1038/P    1
C/158/P     1
G/1498/S    1
Name: Cabin, Length: 9825, dtype: int64

In [44]:
df['CabinValue'] = df['Cabin'].astype(str).str[-1]        # Thus I get only the last char.

In [45]:
df["CabinValue"].value_counts

<bound method IndexOpsMixin.value_counts of 0       P
1       S
2       S
3       S
4       S
       ..
4272    S
4273    n
4274    P
4275    P
4276    S
Name: CabinValue, Length: 12970, dtype: object>

In [46]:
df.sample(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,CabinValue
3801,4061_01,Mars,False,D/130/S,TRAPPIST-1e,30.000000,False,1851.0,0.0,378.0,0.0,155.0,Jack Kashe,False,S
323,0708_02,Europa,True,B/29/P,55 Cancri e,13.000000,False,0.0,0.0,0.0,0.0,0.0,Kabens Pronfraked,NaN,P
8347,8923_01,Earth,False,G/1450/P,TRAPPIST-1e,19.000000,False,0.0,0.0,0.0,0.0,0.0,Lilley Fuentryoung,True,P
1735,1848_01,Earth,False,G/291/S,TRAPPIST-1e,28.771969,False,181.0,0.0,2.0,0.0,663.0,Hellia Gilleranks,False,S
5423,5793_01,Europa,True,E/375/S,55 Cancri e,59.000000,False,0.0,0.0,0.0,0.0,0.0,Dhenah Gloyanthy,True,S
3598,7838_01,Europa,True,C/292/S,TRAPPIST-1e,27.000000,False,0.0,0.0,0.0,0.0,0.0,Alyadum Disheract,NaN,S
3301,7241_01,Europa,True,A/88/S,TRAPPIST-1e,16.000000,False,0.0,0.0,0.0,0.0,0.0,Diskeon Caticuous,NaN,S
1054,2226_01,Earth,False,G/357/P,PSO J318.5-22,27.000000,False,142.0,0.0,99.0,232.0,0.0,Garry Owerson,NaN,P
1694,3632_01,Earth,False,G/587/S,TRAPPIST-1e,22.000000,False,9.0,0.0,485.0,0.0,272.0,Alvia Georgasey,NaN,S
1211,1289_02,Earth,False,G/195/S,TRAPPIST-1e,18.000000,False,789.0,0.0,2.0,0.0,19.0,Chelsa Fultz,False,S

In [47]:
df["CabinValue"].value_counts()

S    6381
P    6290
n     299
Name: CabinValue, dtype: int64

In [48]:
df["CabinValue"] = df["CabinValue"].replace(["n"], "S")                   # Replace n with S

In [49]:
df["CabinValue"].value_counts()

S    6680
P    6290
Name: CabinValue, dtype: int64

In [50]:
del df["Cabin"]                    # we get what we want from Cabin column then we can delete.

In [51]:
df["FoodCourt"].value_counts()

0.0        8146
1.0         175
2.0         105
4.0          75
3.0          74
           ...
2853.0        1
9495.0        1
342.0         1
11552.0       1
601.0         1
Name: FoodCourt, Length: 1953, dtype: int64

In [52]:
df["FoodCourt"].mean()

451.96167494677076

In [53]:
df["FoodCourt"] = df["FoodCourt"].fillna(451)

In [54]:
df["ShoppingMall"].value_counts()

0.0       8331
1.0        225
2.0        112
3.0         94
4.0         69
          ...
751.0        1
1573.0       1
1541.0       1
1661.0       1
3851.0       1
Name: ShoppingMall, Length: 1367, dtype: int64

In [55]:
df["ShoppingMall"].mean()

174.90603284902085

In [56]:
df["ShoppingMall"] = df["ShoppingMall"].fillna(174)

In [57]:
df["Spa"].value_counts()

0.0       7935
1.0        218
2.0        148
3.0         82
4.0         73
          ...
971.0        1
2290.0       1
1450.0       1
4517.0       1
1812.0       1
Name: Spa, Length: 1679, dtype: int64

In [58]:
df["Spa"].mean()

308.4769036733407

In [59]:
df["Spa"] = df["Spa"].fillna(308)

In [60]:
df["VRDeck"].value_counts()

0.0       8252
1.0        211
2.0        108
3.0         89
5.0         68
          ...
395.0        1
3186.0       1
2519.0       1
1652.0       1
494.0        1
Name: VRDeck, Length: 1642, dtype: int64

In [61]:
df["VRDeck"].mean()

306.7894819713431

In [62]:
df["VRDeck"] = df["VRDeck"].fillna(306)

In [63]:
df.isnull().sum()

PassengerId        0
HomePlanet         0
CryoSleep          0
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Name             294
Transported     4277
CabinValue         0
dtype: int64

In [64]:
del df["Name"]         # we dont need names

In [65]:
df.isnull().sum()                           # Thus we dont have any null value

PassengerId        0
HomePlanet         0
CryoSleep          0
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Transported     4277
CabinValue         0
dtype: int64

## Thus we don't have any null value anymore !

In [72]:
df['Transported']= df['Transported'].astype(str)

df["Transported"] = df["Transported"].replace(["True"], 1)  
df["Transported"] = df["Transported"].replace(["False"], 0)

In [73]:
df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinValue
0,0001_01,Europa,False,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0,1,S
2,0003_01,Europa,False,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0,nan,S
4273,9269_01,Earth,False,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0,nan,S
4274,9271_01,Mars,True,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0,nan,P
4275,9273_01,Europa,False,TRAPPIST-1e,28.771969,False,0.0,2680.0,0.0,0.0,523.0,nan,P
4276,9277_01,Earth,True,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0,nan,S

In [74]:
data = pd.get_dummies(df,drop_first = True)         # Create a dataframe as named "data" and get dummies

In [75]:
train = data[:8693]      # train from 0 to 8693
test = data [8693:]      # test from 8693 to end.

In [76]:
train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,PassengerId_0002_01,PassengerId_0003_01,PassengerId_0003_02,PassengerId_0004_01,...,HomePlanet_Mars,CryoSleep_True,CryoSleep_False,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,VIP_False,Transported_1,Transported_nan,CabinValue_S
0,39.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,16.0,303.0,70.0,151.0,565.0,2.0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8689,18.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
8690,26.0,0.0,0.0,1872.0,1.0,0.0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8692,44.0,126.0,4688.0,0.0,0.0,12.0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1

In [77]:
y = train["Transported_1"]

In [78]:
x = train.drop("Transported_1", axis = 1)

In [79]:
test = test.drop("Transported_1", axis = 1)

In [80]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from sklearn.ensemble import GradientBoostingClassifier
gr = GradientBoostingClassifier()

In [88]:
gr.fit(x,y)

GradientBoostingClassifier()

In [89]:
tahmin = gr.predict(test)

In [90]:
sonuc = df_test[["PassengerId"]]

In [91]:
sonuc["Transported_1"] = tahmin

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
sonuc["Transported_1"] = sonuc["Transported_1"].astype("int32")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
sonuc.sample(100)

     PassengerId  Transported_1
2786     6161_01              1
316      0692_01              1
2629     5774_01              0
19       0047_03              0
2694     5929_01              1
3414     7451_01              0
3665     7977_01              1
7        0032_01              1
412      0862_01              1
297      0648_02              0
3790     8299_01              0
818      1680_02              1
2115     4583_01              1
4074     8873_02              0
3421     7469_01              0
4234     9198_01              0
2803     6202_01              1
2457     5357_01              1
2232     4826_01              1
2431     5318_01              1
690      1418_01              0
1548     3344_02              1
3882     8484_01              1
1353     2911_01              1
3248     7129_01              0
2019     4342_01              1
3998     8711_01              0
503      1072_06              0
1192     2501_01              1
3819     8359_01              0
3913     8534_02              1
2590     5665_01              0
2511     5493_01              1
1907     4085_01              1
169      0349_05              0
3926     8547_01              0
3320     7266_03              1
4009     8738_01              1
115      0264_01              1
2793     6188_01              1
1352     2904_02              1
613      1262_02              0
1030     2160_01              0
1533     3302_01              0
4145     8994_02              1
1268     2699_01              0
1667     3589_06              1
1653     3575_01              0
2960     6504_02              1
4272     9266_02              1
800      1629_04              1
1295     2777_01              1
3760     8206_01              0
1230     2610_01              0
2543     5567_01              0
3253     7130_05              1
707      1468_01              0
1836     3901_01              1
272      0605_01              0
1449     3106_01              1
2262     4921_01              0
1895     4057_01              0
2801     6197_01              1
2996     6577_01              1
2903     6383_03              1
1790     3825_01              0
1104     2343_02              1
856      1780_01              0
3661     7969_01              1
1075     2271_01              0
1996     4290_01              0
4230     9182_01              0
1229     2608_01              1
2930     6445_01              0
3210     7043_01              1
3221     7066_01              0
1584     3400_01              1
1434     3077_01              1
3212     7046_02              0
3028     6636_01              1
3158     6914_01              1
3327     7286_01              0
3460     7548_01              0
881      1830_01              1
4067     8855_01              0
2411     5283_01              0
3762     8223_01              1
2403     5245_01              1
3225     7067_03              0
562      1159_03              1
2291     4984_02              0
3881     8478_02              0
4028     8767_02              0
4147     9000_01              0
442      0909_02              1
936      1943_01              0
1379     2967_01              0
836      1726_02              1
373      0775_04              0
2713     5964_02              1

In [95]:
sonuc2 = sonuc.rename({'Transported_1': 'Transported'}, axis=1)

In [96]:
sonuc2

     PassengerId  Transported
0        0013_01            1
1        0018_01            0
2        0019_01            1
3        0021_01            1
4        0023_01            1
...          ...          ...
4272     9266_02            1
4273     9269_01            1
4274     9271_01            1
4275     9273_01            1
4276     9277_01            1

[4277 rows x 2 columns]

In [98]:
sonuc2["Transported"] = sonuc2["Transported"].replace([1], "True")  
sonuc2["Transported"] = sonuc2["Transported"].replace([0], "False")

In [99]:
sonuc2

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01        True
...          ...         ...
4272     9266_02        True
4273     9269_01        True
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]

In [100]:
sonuc2.to_csv("Spaceship_2.csv", index = False)